<div>
    <div>
        <iframe width="100%" height="500" [src]="project.url | safe">
          
        </iframe>
      </div>
    <form>
      <div *ngIf="editTitle" class="form-group">
        <input type="input" class="form-control" name="title" required placeholder="title" [(ngModel)]="project.projectTitle">
      </div>
      <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{project.projectTitle}}</h3>
      <div class="form-group">
        <input type="input" class="form-control" name="url" required placeholder="url" [(ngModel)]="project.url">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5" name="description" [(ngModel)]="project.description">
        </textarea>
      </div>
      <button type="button" (click)="updateProject()" class="btn btn-primary">Update</button>
      <button type="button" (click)="deleteProject()" class="btn btn-danger">Delete</button>
    </form>
  </div>
  